#o_wblog_post_content p, #o_wblog_post_content li{
    font-weight: 400;
}
#o_wblog_post_top .o_half_screen_height, .cover_mid{
    min-height: 10px !important;
}
#o_wblog_post_top .website_blog .o_wblog_post_page_cover.cover_auto{
    padding: 0;
}
#o_wblog_post_top .o_post_cover_image{
    background: black;
}
#o_wblog_post_top .cover_image{
    width:100%;
    height:100%;
    object-fit:contain;
    border: 1px solid #eee;
    border-radius: 1px;
}
