#o_wblog_post_content p, #o_wblog_post_content li{
    font-weight: 400;
}
.website_blog .o_wblog_post_title #o_wblog_post_name{
    line-height: 1;
}
#title.blog_header{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.breadcrumb_container:first-child{
    margin: 15px 0 -15px 0;
}
#o_wblog_post_top .bg_image_div{
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #eee;
}
#o_wblog_post_top .o_wblog_post_title  {
    padding-bottom: 10px;
}
#o_wblog_post_top .o_record_cover_container{
    background: black;
}
#o_wblog_post_top .website_blog .o_wblog_post_page_cover .o_record_cover_image:after{
    background-image: none;
}
