#oe_main_menu_navbar{
    visibility: none;
}
#o_wblog_posts_loop, #warp:not(.o_editable) .dynamic_snippet_template{
    visibility: hidden;
}
.blog.container{
    padding-top: 10px;
}
.blog.container .navbar{
    padding: 0;
}
.blog.container ul.row.blog{
    padding: 10px 0;
}
ul.row.blog .nav-link{
    padding: 0;
}
ul.row.blog li:first-child{
    padding: 0;
}
ul.row.blog .nav-item a{
    padding: 0 10px;
}
ul.row.blog{
    list-style: none;
    padding: 0;
    margin:0;
}
#o_wblog_post_content p, #o_wblog_post_content li{
    font-weight: 400;
}
.website_blog .o_wblog_post_title #o_wblog_post_name{
    line-height: 1;
}
#title.blog_header{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.breadcrumb_container:first-child{
    margin: 15px 0 -15px 0;
}
.breadcrumb_container .breadcrumb{
    background: #e9ebf1;
}

#o_wblog_post_top .bg_image_div, article.o_wblog_post .bg_image_div{
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_image_div{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_image_div .img_cover_image{
    object-fit:contain;
    max-width: 100%;
    max-height: 100%;
}
#o_wblog_post_top .o_wblog_post_title, article.o_wblog_post .o_wblog_post_title{
    padding-bottom: 10px;
}
.website_blog .o_wblog_post_page_cover.o_record_has_cover .o_record_cover_image:after{
    background-image: none;
}
#o_wblog_post_content .o_editable, #o_wblog_post_top .o_editable
{
    border: 2px solid #eee;
}
.website_blog #o_wblog_posts_loop .o_record_cover_container{
    padding-top:0;
}
.website_blog #o_wblog_posts_loop .o_wblog_normalize_font
{
    font-size: 16px;
}
.o_thread_window .o_mail_thread .o_mail_thread_content, .o_thread_window .o_thread_composer input.o_composer_text_field{
    font-size: 16px;
}
.s_dynamic.s_blog_post_card .card .s_blog_posts_post_cover{
    height: auto;
}
.s_blog_posts_post .card-body{
    padding: 10px;
}
.s_dynamic.s_blog_post_big_picture .s_blog_posts_post .s_blog_posts_post_title
{
    font-size: inherit;
}
.dynamic_snippet_template>.my-4{
    margin-top:0 !important;
}
.dynamic_snippet_template>.my-4 .my-3{
    margin-top:0 !important;
}
#side_bar_global_social .o_wblog_sidebar_block .o_wblog_social_links > a
{
    font-size: 1.5em;
    padding: 5px;
}
.o_wblog_social_links > a.rounded-circle
{
    border-radius: 5px !important;
}
.website_blog .o_wblog_social_links > a, .o_wblog_social_links > a
{
    width: 2em;
    height: 2em;
}